<form action="/payment/results">
  <div>
    <label for="apr">APR</label>
    <input id="apr" type="text" placeholder="E.g. 5.42" name ="user_apr">
  </div>
  <div>
    <label for="number_of_years">Number of years</label>
    <input id="number_of_years" type="text" placeholder="How many years to repay?" name ="user_years">
  </div>
  <div>
    <label for="principal_value">Principal</label>
    <input id="principal_value" type="text" placeholder="How much principal?" name ="user_pv">
  </div>
  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
