<form action="/random/results">
  <div>
    <label for="random">Minimum</label>
    <input id="random" type="text" placeholder="E.g. 1.5" name ="user_min">
  </div>
  <div>
    <label for="random">Maximum</label>
    <input id="random" type="text" placeholder="E.g. 4.5" name ="user_max">
  </div>
  <div>
    <button>Pick random number</button>
  </div>
</form>
