<form action="/square_root/results">
  <div>
    <label for="square_root">Enter a number</label>
    <input id="square_root" type="text" placeholder="What number do you want to take the square root of?" name ="user_number">
  </div>
  <div>
    <button>Calculate square root</button>
  </div>
</form>
