<form action="/square/results">
  <div>
    <label for="giraffe">Enter a number</label>
  </div>
  <div>
    <input id="giraffe" type="text" placeholder="What number do you want to take the square of?" name ="number">
  </div>
  <div>
    <button>Calculate square</button>
  </div>
</form>
